<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Programming Contest<small>Teams List</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <%if(error.length>0){%>
                    <%if(error=="Data Deleted Successfully." || error=="Data Updated Successfully."){%>
                        <div class="alert alert-success"><%=error%></div>
                    <%}else{%>
                        <div class="alert alert-danger"><%=error%></div>
                <%   }%>    
                <%}%>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">

                            <table id="datatable-responsive"
                                class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Team Name</th>
                                        <th>Institution</th>
                                        <th>Coach's Name</th>
                                        <th>Coach's Contact No. </th>
                                        <th>Coach's E-mail </th>
                                        <th>Coach's T-Shirt</th>
                                        <th>Team Leader's Name </th>
                                        <th>Team Leader's Contact No.</th>
                                        <th>Team Leader's E-mail</th>
                                        <th>Team Leader's T-Shirt </th>
                                        <th>Team Member 1's Name</th>
                                        <th>Team Member 1's Contact No.</th>
                                        <th>Team Member 1's E-mail</th>
                                        <th>Team Member 1's T-Shirt</th>
                                        <th>Team Member 2's Name</th>
                                        <th>Team Member 2's Contact No.</th>
                                        <th>Team Member 2's E-mail </th>
                                        <th>Team Member 2's T-Shirt </th>
                                        <th>Selected Status </th>
                                        <th>Select</th>
                                        <th>Edit</th>
                                        <th>Delete</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(participants.length>0){ %>
                                        <% participants.forEach(participant=>{ %>
                                        <tr></tr>
                                            <td> <%= participant.teamName %> </td>
                                            <td> <%= participant.institutionName %> </td>
                                            <td> <%= participant.coachName %> </td>
                                            <td> <%= participant.coachContact %> </td>
                                            <td> <%= participant.coachEmail %> </td>
                                            <td> <%= participant.coachTShirt %> </td>
                                            <td> <%= participant.leaderName %> </td>
                                            <td> <%= participant.leaderContact %> </td>
                                            <td> <%= participant.leaderEmail %> </td>
                                            <td> <%= participant.leaderTShirt %> </td>
                                            <td> <%= participant.member1Name %> </td>
                                            <td> <%= participant.member1Contact %> </td>
                                            <td> <%= participant.member1Email %> </td>
                                            <td> <%= participant.member1TShirt %> </td>
                                            <td> <%= participant.member2Name %> </td>
                                            <td> <%= participant.member2Contact %> </td>
                                            <td> <%= participant.member2Email %> </td>
                                            <td> <%= participant.member2TShirt %> </td>
                                            <td> <%= participant.selected %> </td>
                                            <td>
                                                <% const selectURL = 'select/' + participant._id %>
                                                <a href = "<%= selectURL %>">
                                                    <i class="fa fa-check"></i>
                                                    <span class="fa fa-chevron"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <% const editURL = 'edit/' + participant._id %>
                                                <a href = "<%= editURL %>">
                                                    <i class="fa fa-pencil"></i>
                                                    <span class="fa fa-chevron"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <% const deleteURL = 'delete/' + participant._id %>
                                                <a href = "<%= deleteURL %>">
                                                    <i class="fa fa-trash"></i>
                                                    <span class="fa fa-chevron"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    <% } %>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>